@media screen and (min-width: 320px){
    body{
        box-sizing: border-box;
        padding: 0;
        margin: 0;
        object-fit: contain;
    }

    .link1{
        display: flex;
        align-items: center;
        gap: 0.5rem;
    }

    .link2{
        display: flex;
        width: 80%;
        align-items: start;
        gap: 0.5rem;
    }

    .link3{
        display: flex;
        flex-direction: column;
        width: 80%;
        gap: 1rem;
        margin-bottom: 1rem;
    }

    .link3 > button{
        border-radius: 10px;
        border: none;
        padding: 0.2rem;
        font-weight: 600;
    }

    .link3 > button:nth-child(1){
        background-color:#3D9970;
        color: white;
    }

    .link3 > button:nth-child(2){
        color: #3D9970;
        border: 1px solid #3D9970;
    }

    .propertyImages > img{
        width: 80%;
    }

    /* .propertyImages > div{
        display: flex;
        flex-direction: column;
    } */

    .propertyImages > div > img{
        width: 80%;
        margin-bottom: 1rem;
    }

    .links > div{
        display: flex;
        gap: 0.5rem;
    }

    .links > div:nth-child(1){
        width: 30%;
        text-align: center;
        padding: 0.2rem;
        background-color: #CAF2FE;
        color: #3D9970;
        border-radius: 10px;
        margin-bottom: 0.5rem;
    }

    
    .links > div:nth-child(2){
        width: 30%;
        text-align: center;
        padding: 0.2rem;
        background-color: #FFCFCF;
        color: #E92727;
        border-radius: 10px;
        margin-bottom: 0.5rem;
    }

    .heroLocation{
        display: flex;
    }

    .description{
        border: 1px solid black;
        width: 80%;
        padding: 0.5rem;
        border-radius: 10px;
        margin-bottom: 1rem;
    }

    .features{
        border: 1px solid black;
        width: 80%;
        padding: 0.5rem;
        border-radius: 10px;
        margin-bottom: 1rem;
    }

    .features > div{
        display: grid;
        grid-template-columns: repeat(2,1fr);
    }

    .features > h4{
        margin-bottom: 1rem;
    }

    .features > div > div{
        display: flex;
        gap: 0.2rem;
    }

    .videoDescription{
        border: 1px solid black;
        width: 80%;
        padding: 1rem;
        border-radius: 10px;
        margin-bottom: 1rem;
    }

    .videoDescription > img{
        width: 100%;
        text-align: center;
        border-radius: 10px;
    }

    .profile{
        border: 1px solid black;
        width: 80%;
        text-align: center;
        padding: 2rem;
        border-radius: 10px;
        margin-bottom: 1rem;
        line-height: 2rem;
    }

    .profile > div > button{
        width: 100%;
        padding: 0.2rem;
        border-radius: 10px;
        border: none;
    }

    .profile > div > button:nth-child(1){
        margin-bottom: 0.5rem;
        background-color: black;
        color: white;
        font-weight: 600;
    }

    .profile > div > button:nth-child(2){
        background-color: rgba(61, 153, 112, 0.20);
        color: #3D9970;
        font-weight: 600;
    }

    .oldProperties{
        width: 80%;
        border: 1px solid black;
        border-radius: 10px;
        padding: 2rem;
        text-align: center;
        line-height: 2rem;
    }

    .oldProperties > div{
        display: flex;
        flex-direction: column;
    }

    .oldProperties > div > button{
        border: none;
        border-radius: 10px;
        padding: 0.2rem;
    }

    .oldProperties > div > button:nth-child(1){
        margin-bottom: 0.5rem;
        background-color: black;
        color: white;
        font-weight: 600;
    }

    .oldProperties > div > button:nth-child(2){
        background-color: rgba(61, 153, 112, 0.20);
        color: #3D9970;
        font-weight: 600;
    }
}

@media screen and (min-width: 425px) {
    .links{
        display: flex;
        gap: 1rem;
    }
    
}


  @media screen and (min-width: 768px) {
    .propertyHeader{
        display: flex;
        justify-content: space-between;
        margin-bottom: 2rem;
    }

    .link1{
        width: 90%;
    }

    .link2{
        margin-left: 3rem;
    }

    .propertyHeader > div{
        display: flex;
        align-items: center;
    }

    .propertyResidents{
        display: flex;
        justify-content: flex-end; 
        align-items: center;
    }

    .propertyResidents > div{
        width: 90%;
    }

    .link3{
        display: flex;
        flex-direction: row;
        gap: 0.5rem;
        justify-content: flex-end;
    }

    .link3 > button{
        border-radius: 10px;
        border: none;
        padding: 1rem;
        align-self: flex-end;
    }

    .link3 > button:nth-child(1){
        margin-right: 0.5rem;
        background-color:#3D9970;
        color: white;
        width: 60px;
    }

    .link3 > button:nth-child(2){
        color: #3D9970;
        border: 1px solid #3D9970;
        margin-right: 0.5rem;
        width: px;
    }

    .propertyImages{
        display: flex;
        justify-content: space-between;
        align-items: end;
    }

    .propertyImages > img{
        height: 562px;
        width: 60%;
        margin-right: 1rem;
        margin-bottom: 1rem;
    }

    .propertyImages > div > img{
        height: 170px;
        width: 260px;
    }

    .links > div{
        width: 13% !important;
    }

    .header1{
        display: grid;
        grid-template-columns: repeat(2, 330px);
        align-items: end;
        
    }

    .description{
        width: 450px !important;
    }

    .features{
        width: 450px;
    }

    .videoDescription{
        width: 450px;
    }

    .requirements{
        display:flex;
    }

    .profile{
        width: 240px;
        margin-left: -190px;
    }

    .oldProperties{
        width: 240px;
        margin-left: -190px;
    }

    .links > div{
        width: 100px !important;
    }

    

} 

@media  screen and (min-width: 1024px) {
    .link3{
        margin-right: 2rem;
    }

    .description{
        width: 490px !important;
    }

    .features{
        width: 490px !important;
    }

    .videoDescription{
        width: 490px !important;
    }

    .profile{
        margin-left: -150px;
    }

    .oldProperties{
        margin-left: -150px;
    }
    
}

@media  screen and (min-width: 1440px)  {

    body {
        max-width:1440px
      }

    .propertyImages > div{
        display:flex;
        flex-direction: column;
        margin-right: 2rem;
    }

    .propertyImages > img{
        width: 100%;
    }

    .header1 > div:nth-child(2){
        margin-left: 24rem;
        width: 100%;
    }

    .link2{
        margin-left: 30rem !important;
    }

    .description{
        width: 82% !important;
    }

    .features{
        width: 82% !important;
    }

    .features > div{
        display: grid;
        grid-template-columns: repeat(4, 1fr);
    }

    .features >div > div{
        gap: 1rem;
        align-items: start;
    }

    .videoDescription{
        width: 80% !important;
    }

    .profile{
        margin-right: 2rem !important;
        width: 300px;
    }

    .oldProperties{
        /* margin-right: 2rem !important; */
        width: 300px;
    }

    .videoDescription{
        width: 82% !important;
    }


}